.SuggestionsView {
  background-color: #fff;
  height: calc(100% - 50px);
  margin-left: 350px;
  padding: 50px;
}

.suggestion-cards-container {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 1fr 1fr;
  margin-top: 50px;
}

.suggestions-view-title {
  margin: 0;
}