.SuggestionCard {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.25);
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 70px 1fr 50px;
  height: 300px;
  margin-bottom: 30px;
  padding: 20px;
  width: 500px;
}

.suggestion-card-title {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  font-size: 2rem;
  margin: 5px 0;
  text-align: left;
}

.suggestion-card-youtube-embed {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.suggestion-card-google-link {
  font-family: 'Roboto Condensed', sans-serif;
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  margin-top: 5px;
  text-align: bottom;
}

.suggestion-card-wiki-link {
  font-family: 'Roboto Condensed', sans-serif;
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  margin-top: 5px;
  text-align: bottom;
}

.suggestion-card-description {
  border-radius: 10px;
  cursor: default;
  font-family: 'Roboto', sans-serif;
  grid-column: 2 / 3;
  overflow: auto;
  width: 200px;
  height: 200px;
  transition: box-shadow 500ms;
  padding: 10px;
}