.App::before {
  background-image: url('https://source.unsplash.com/collection/1127996/1600x900');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 0;
  content: '';
  filter: blur(3px) opacity(.8);
  height: calc(100% - 50px);
  position: absolute;
  right: 0;
  width: 100%;
  z-index: -1;
}

.App {
  overflow-x: hidden;
  text-align: center;
  z-index: 0;
}
